<footer class="bg-tertiary inner-container footer-spacing">
  <section
    class="flex flex-col gap-4 md:flex-row md:justify-between md:min-h-[500px]"
  >
    <div>
      <h4 class="heading-tertiary mb-2">Kontakt</h4>
      <p>Marlene Wiget GmbH, Immobilien</p>
      <p>Lustnaustrasse 27</p>
      <p>6417 Sattel</p>
      <p>056 539 15 10</p>
      <p><a href="#" class="text-primary">info@bluemouse.ch</a></p>
    </div>
    <div class="md:text-right">
      <p>© 2022 Marlene Wig oet GmbH, Immobilien</p>
      <p>Webdesign von Andreas Wiget</p>
    </div>
  </section>
</footer>
