<header>
  <div class="bg-white py-6 bg-opacity-90">
    <h1>
      <a href="/"
        ><img
          class="block mx-auto w-[330px] transition-all delay-75 ease-in-out opacity-80 hover:opacity-100"
          alt="{Company name}"
          src="./assets/images/logo.png"
      /></a>
    </h1>
  </div>
  <div class="bg-primary bg-opacity-90 text-right pt-2 h-10">
    <button
      id="nav-toggle-btn"
      class="w-h h-8 bg-menu-open bg-no-repeat text-transparent overflow-hidden"
    >
      open



    </button>
    <nav class="nav-hidden" id="nav">
      <ul class="w-[30vw] flex-col items-start justify-start flex bg-primary" id="nav-ul">
        <li><a class="" href="">Dienstleistungen </a></li>
        <li><a href="">Suche und Vermittlung</a></li>
        <li><a href="">Bauprojekte</a></li>
        <li><a href="">Objekte</a></li>
        <li><a href="">Über mich</a></li>
        <li><a href="">Referenzprojekte</a></li>
        <li><a href="">Zusammenarbeit</a></li>
        <li><a href="">Preise</a></li>
      </ul>
    </ul>
  </nav>
</header>
