<nav class="nav-hidden" id="nav">
  <div
    class="w-full sm:w-[70vw] md:w-[45vw] lg:w-[35vw] max-w-[765px] flex-col items-start justify-start flex bg-primary"
    id="nav-ul"
  >
    <ul class="mx-10 my-20 sm:mx-auto relative flex flex-col gap-4">
      <button
        id="nav-toggle-btn"
        class="w-9 h-9 absolute -top-14 sm:top-6 left-0 sm:-left-16 z-40 bg-menu-close bg-no-repeat transform hover:scale-[0.9] transition-all delay-150 ease-out text-transparent overflow-hidden"
      >
        close
      </button>
      <h3 class="text-4xl font-semibold text-white my-4">Menu</h3>
      <li>
        <a
          class="text-white hover:text-primary-darker active:text-purple-700"
          href="#"
          >Dienstleistungen
        </a>
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#"
          >Suche und Vermittlung</a
        >
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#">Bauprojekte</a>
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#">Objekte</a>
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#">Über mich</a>
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#"
          >Referenzprojekte</a
        >
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#"
          >Zusammenarbeit</a
        >
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#">Preise</a>
      </li>
    </ul>
  </div>
</nav>
