<header class="font-heading">
  <div class="bg-white py-6 bg-opacity-90 px-2">
    <h1>
      <a href="/"
        ><img
          class="block mx-auto w-[330px] transition-all delay-75 ease-in-out opacity-80 hover:opacity-100"
          alt="{Company name}"
          src="./images/logo.png"
      /></a>
    </h1>
  </div>
  <div
    class="bg-primary bg-opacity-90 h-[57px] flex justify-end items-center px-2"
  >
    <button
      id="nav-toggle-btn"
      class="w-h h-6 bg-menu-open bg-no-repeat text-transparent focus:outline-none overflow-hidden opacity-80 hover:opacity-100 transition-all delay-100 ease-out"
    >
      open
    </button>
  </div>
  <include src="./partials/common/nav.html"></include>
</header>
