<header class="font-heading">
  <div class="bg-white py-6 bg-opacity-90 px-2 md:px-4">
    <h1>
      <a href="/"
        ><img
          class="block mx-auto w-[330px] transition-all delay-75 ease-in-out opacity-80 hover:opacity-100"
          alt="{Company name}"
          src="./images/logo.png"
      /></a>
    </h1>
  </div>
  <div class="bg-primary bg-opacity-90 h-[57px]">
    <div
      class="inner-container flex justify-end items-center px-2 md:px-4 h-full"
    >
      <button id="nav-toggle-btn" class="w-h h-6 bg-menu-open nav-btn">
        open
      </button>
    </div>
  </div>
  <include src="./partials/common/nav.html"></include>
</header>
