<nav class="nav-hidden transition-primary" id="nav">
  <div class="nav-ul" id="nav-ul">
    <ul class="mx-10 my-20 sm:mx-auto relative flex flex-col gap-4">
      <button
        id="nav-toggle-btn"
        class="w-9 h-9 absolute -top-14 sm:top-6 left-0 sm:-left-16 z-40 bg-menu-close nav-btn transition-primary"
      >
        close
      </button>
      <h3 class="text-4xl font-semibold text-white my-4">Menu</h3>
      <li>
        <a class="text-white hover:text-primary-darker" href="#"
          >Dienstleistungen
        </a>
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#"
          >Suche und Vermittlung</a
        >
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#">Bauprojekte</a>
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#">Objekte</a>
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#">Über mich</a>
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#"
          >Referenzprojekte</a
        >
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#"
          >Zusammenarbeit</a
        >
      </li>
      <li>
        <a class="text-white hover:text-primary-darker" href="#">Preise</a>
      </li>
    </ul>
  </div>
</nav>
