<section class="relative max-w-5xl h-[520px] font-heading overflow-hidden mt-6">
  <div>
    <button
      id="slider-prev"
      class="absolute z-30 bottom-8 left-6 transition-primary opacity-80 hover:opacity-100"
    >
      <img
        src="./images/arrow-secondary.png"
        class="w-6 transform rotate-180"
      />
    </button>
    <button
      id="slider-next"
      class="absolute z-30 bottom-8 right-6 transition-primary opacity-80 hover:opacity-100"
    >
      <img src="./images/arrow-secondary.png" class="w-6" />
    </button>
  </div>
  <div id="slider-carousel">
    <div class="slider-item slider-main-item transition-secondary">
      <img class="slider-item-img" src="./images/sample-img_1.jpg" alt="" />
      <h4 class="slider-item-caption heading-secondary">
        Lorem ipsum dolor sit
      </h4>
    </div>
    <div class="slider-item transition-secondary">
      <img class="slider-item-img" src="./images/sample-img_2.jpg" alt="" />

      <h4 class="slider-item-caption heading-secondary">
        Amet consectetur adipisicing elit
      </h4>
    </div>
  </div>
</section>
